<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style> td, th { border: 1px solid black; } </style>
    <title>Add book</title>
</head>
<body>
<form action="/books/add" method="post">
  <label for="topic">Topic:</label><br>
  <input type="text" id="topic" name="topic"><br>

  <label for="author">Author:</label><br>
  <input type="text" id="author" name="author"><br>

  <label for="genre">Genre:</label><br>
  <input type="text" id="genre" name="genre"><br>

  <label for="text">Text:</label><br>
  <input type="text" id="text" name="text"><br><br>

  <input type="submit" value="Submit">
</form>
</body>
</html>