# IntelliJ project files
.idea
*.iml
out
gen

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Mypy
.mypy_cache/

# Environment
venv/

# Resources
resources/

# ENV
local.env

# Flask session
flask_lab/app/flask_session

