<a href="/">Home</a>
<a href="/news/">News</a>
<a href="/books/">Books</a>
{% if user.is_authenticated %}
<a href="/logout/">Logout</a>
{% endif %}
{% if not user.is_authenticated %}
<a href="/login/">Login</a>
{% endif %}
{% block content %}{% endblock %}

{% if news %}
    <ul>
    {% for n in news %}
        <li>
        <span>
            <a href="/news/{{ n.id }}/">{{ n.topic }}</a>
        </span>
    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No news are available.</p>
{% endif %}

{% if user.is_authenticated %}
<a href="/news/add/">Add news</a>
{% endif %}
