<a href="/">Home</a>
<a href="/news/">News</a>
<a href="/books/">Books</a>
{% if user.is_authenticated %}
<a href="/logout/">Logout</a>
{% endif %}
{% if not user.is_authenticated %}
<a href="/login/">Login</a>
{% endif %}
{% block content %}{% endblock %}

{% if books %}
    <ul>
    {% for b in books %}
    <li>
        <span>
            <a href="/books/{{ b.id }}/">{{ b.topic }}</a>
        </span>
    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No books are available.</p>
{% endif %}

{% if user.is_authenticated %}
<a href="/books/add/">Add book</a>
{% endif %}
