<a href="/">Home</a>
<a href="/news/">News</a>
<a href="/books/">Books</a>
{% if user.is_authenticated %}
<a href="/logout/">Logout</a>
{% endif %}
{% if not user.is_authenticated %}
<a href="/login/">Login</a>
{% endif %}
{% block content %}{% endblock %}

<form action="/books/updaterecord/{{book.id}}/" method="post">
    {% csrf_token %}
    <br>Topic:
    <label>
        <input name="topic" value="{{ book.topic }}"/>
    </label>
    <br>
    Text:
    <label>
        <input name="text" value="{{ book.text }}"/>
    </label>
    <br>
    Author:
    <label>
        <input name="author" value="{{ book.author }}"/>
    </label>
    <br>
    Genre:
    <label>
        <input name="genre" value="{{ book.genre }}"/>
    </label>
    <br><br>
    <input type="submit" value="Submit">
</form>

