<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<form action="/users/add" method="post">
  <label for="login">Login:</label><br>
  <input type="text" id="login" name="login"><br>

  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password"><br>

  <label for="admin">Admin:</label><br>
  <input type="checkbox" id="admin" name="admin" value="True"><br><br>

  <input type="submit" value="Submit">
</form>
</body>
</html>